.foods {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.foods > h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 6rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageContainer {
    flex-basis: 40%;
    margin: 1rem;
    overflow: hidden;
    background-color: black;
}

.imageContainer img {
    width: 100%;
    transform: scale(1.13);
    transition: transform .4s, opacity .4s;
    opacity: .7;
}

.imageContainer img:hover {
    transform: scale(1.25);
    opacity: 1;
    cursor: pointer;
}

@media all and (max-width: 768px) {
    .imageContainer {
        flex-basis: 100%;
    }
}