.foods {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .05);
}

.foods > h2 {
    text-align: center;
    font-size: 4rem;
    margin: 6rem 0;
}

.foods > p {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12rem;
}

.imageContainer {
    flex-basis: 40%;
    margin: 1rem;
    overflow: hidden;
    background-color: black;
    border-radius: 1rem;
}

.imageContainer img {
    width: 100%;
    transform: scale(1.13);
    transition: transform .4s, opacity .4s;
    opacity: .7;
}

.imageContainer img:hover {
    transform: scale(1.25);
    opacity: 1;
    cursor: pointer;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: rgb(255, 255, 255);
    overflow: auto;
    overflow-scrolling: touch;
    border-radius: 1rem;
    outline: none;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    max-height: 90vh;
    height: 70vh;
    transform: translate(-50%, -50%);
    background: linear-gradient(
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .85)
    ), url("../../images/modal-background.jpg");
    background-size: cover;
    background-position: center;
    /*background-position-x: 1%;*/
    background-repeat: no-repeat;
    color: white;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
}

.modalHeader > h2 {
    text-align: center;
    flex-grow: 1;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 10px;
    margin-top: 3rem;
}

.modalInfo {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.modalInfoText {
    text-align: center;
    width: 85%;
    margin: 8rem auto 0;
    font-size: 2.7rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 5rem;
}

.modalIcons {

}

.modalPrice {
    font-size: 4.5rem;
    margin-top: 4rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: #20bf6b;
}

@media all and (max-width: 768px) {
    .imageContainer {
        flex-basis: 100%;
    }

    .imageContainer > img {
        transform: scale(1.2);
        opacity: 1;
    }
}

@media all and (max-width: 425px) {
    .imageContainer {
        margin: 1rem 0;
        border-radius: unset;
    }
}